.rdg-selected {
    border: 1.2px solid #1890ff;
    >.drag-handle{
        background: #1890ff;
    }
}
.rdg-header-row{
    z-index: 1060;
}
.rdg-row-default-group {
    // rgba(24,144,255,1)
    border-bottom: 2px solid #fb8b0d; 
}