name: npm publish package canary
on:
  push:
    branches:
    - 'canary'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    - run: node script/release-canary.js
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        PR_TITLE: ${{ github.event.pull_request.title }}